@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: local("SourceSansPro-SemiBold"), url("./fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}
